.calendar-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.calendar {
    width: min(90%, 800px);
    height: max(50vh, 400px);
    margin-inline: 20px;
}